*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #1a1a1c;
  color: #fff;
}

.main{
  display: block;
  margin:2rem;
  text-align: center;
}

.heading1{
  text-transform: capitalize;
  text-decoration: underline;
  padding-bottom: 1rem;
}

.form-input{
  padding: .3rem;
  font-size: 1rem;
   background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
  color: #e2e2e2;
}
.form-input::placeholder{
  color: #e2e2e2;
}